global-bundle.pem
__pycache__/
*.py[cod]
*.pyc
.env
.venv/
venv/
dist/
build/
.pytest_cache/
*.egg-info/
.mypy_cache/
.DS_Store
.pids/
logs/

# Terraform
infrastructure/.terraform/
infrastructure/terraform.tfstate
infrastructure/terraform.tfstate.backup
infrastructure/*.tfvars
infrastructure/*.conf
